<!DOCTYPE html>
<html lang="{{.Lang}}">
<head system="common/head.html">
  {{template "common/head.html" .}}
</head>
<body class="html-body">

<!--<script defer src="https://hosted.assemblypay.com/assembly.js"></script>-->
{{if .Analytics}}
    <script async src='https://www.google-analytics.com/analytics.js'></script>
{{end}}
<% jsArr.forEach((item, i) => { %>
    <script defer src="<%= item %>"></script>
<% }) %>

<% cssArr.forEach((item, i) => { %>
    <link rel="stylesheet" href="<%= item %>">
<% }) %>

<link rel="stylesheet" href="/static/fonts/fonts.css">
<link rel="stylesheet" href="/static/background-styles/background-image.css">

<script>
    {{if .Analytics}}
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{.AnalyticsKey}}', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', [{{.OtherDomains}}]);
    {{end}}

    {{if .ChatAuth}}
    let intForZopim;
    intForZopim = setInterval(function () {
        if (!window['$zopim']) {
            return
        }

        clearInterval(intForZopim);
        $zopim(function() {
            $zopim.livechat.authenticate({
                jwtFn: function(callback) {
                    callback(Common.chatJWT);
                }
            });
        });
    }, 1000);
    {{end}}

    Common = {};
    Common.lang = "{{.Lang}}";
    Common.analytics = {{.Analytics}};
    Common.chatJWT = "{{.ChatJWT}}";
    Common.stripe = "{{.StripePublicKey}}";
    Common.isAuth = {{.IsAuth}};
    Common.userId = {{.UserID}};
    Common.userEmail = "{{.UserEmail}}";
    Common.hasLangVersion = JSON.parse(`<%= browserI18nHashMap %>`);
</script>

<header system="common/header.html" class="navbar">
    {{template "common/header.html" .}}
</header>
<div class="loader-wrapper"></div>

<main id="main-body" system="router.html" class="main-body">
    {{template "router.html" .}}
</main>

<footer system="common/footer.html">
    {{template "common/footer.html" .}}
</footer>

</body>
</html>
