@import "vars";

.CustomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 3px 20px 10px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 100.66%;
  text-shadow: 0 4px 0 #F37053, 0 6px 11px rgba(0, 0, 0, 0.45);
  font-family: $fontMain
}

.custom-button {
  @extend .CustomButton;
}
