.invalid {
  border-color: #e82e00 !important;
}

.navbar-filler {
  height: 8vh;
}

.tooltip-object {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  color: white;
  pointer-events: none;
}
