@import "vars";
@import "custom-button";

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 8vh;
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.73);

  .logo-b {
    width: 20%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font: {
      size: 34px;
      family: $fontMain;
    }
    @media (max-width: 1350px) {
      width: 30%;
    }
    @media (max-width: 1000px) {
      font-size: 27px;
    }
    @media (max-width: 700px) {
      width: 40%;
      font-size: 22px;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  .auth-b {
    width: 20%;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-right: 2em;
    font: {
      size: 20px;
      family: $fontMain;
    }
    @media (max-width: 1350px) {
      width: 30%;
    }
    @media (max-width: 1000px) {
      width: 40%;
      font-size: 16px;
    }
    @media (max-width: 700px) {
      width: 50%;
      font-size: 14px;
    }
    @media (max-width: 500px) {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }

    .login {
      width: 30%;
      text-decoration: none;
      display: flex;
      justify-content: end;
      color: #fff;
    }

    .user-email {
      @extend .login
    }

    .signup-button {
      @extend .CustomButton;
      width: 40%;
    }

    .logout-button {
      @extend .CustomButton;
      width: 40%;
      border: 0;
      border-top-right-radius: 5%;
      border-bottom-right-radius: 15%;
      background-color: inherit;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;

      @media (max-width: 1000px){
        font-size: 16px;
      }
      @media (max-width: 700px){
        font-size: 14px;
      }
    }

  }
}
