.page-bg-sphere {
    background-image: url(../img/sphere-colored.svg);
    background-position-x: 1vw;
    background-position-y: 1vh;
}

.btn-background {
    background-image: url(../img/button.svg)
}
