
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png?v=2">
<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg?v=2" color="#ffffff">

<meta id="meta-theme-color" name="theme-color" content="#ffffff">
<meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml?v=2"/>
<meta name="msapplication-TileColor" content="#010f63">
<meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png?v=2">
<link rel="manifest" href="/static/img/favicon/site.webmanifest?v=2">

<meta property="og:type" content="website">
<meta property="og:site_name" content="<%= appName %>">
<meta property="og:url" content="<%= host %>{{.URL}}">
<meta property="og:locale" content="{{.Lang}}">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="{{.Lang}}">
<meta name="robots" content="all">

<% routersArr.forEach((router, i) => { %>
    {{<%= i > 0 ? 'else' : '' %> if (<%= router.pathPrefix ? 'prefix' : 'eq' %> .Path "<%= router.path %>")}}
        <%= router.title &&
        `<title>{{index .I18N "${router.title}"}}</title>` %>
        <%= router.title &&
        `<meta property="og:title" content="{{index .I18N "${router.title}"}}">` %>
<% }) %>

    {{end}}
