<div class="header">
    <a href="/{{.Lang}}<%= routers.index.path %>" router-active="link-active" class="logo-b router-controller" >
        Gift Sphere
    </a>
    {{if .IsAuth}}
        <div class="auth-b">
            <span class="user-email">{{.UserEmail}}</span>
            <button class="logout-button" onclick="Logout.logout()">Log Out</button>
        </div>
    {{else}}
        <div class="auth-b">
            <a  href="/{{.Lang}}<%= routers.login.path %>" router-active="link-active" class="login router-controller">{{index .I18N "HEADER_LOGIN_BUTTON"}}</a>
            <a href="/{{.Lang}}<%= routers.signup.path %>" router-active="link-active" class="signup-button btn-background btn-background router-controller">{{index .I18N "HEADER_SIGN_UP_BUTTON"}}</a>
        </div>
    {{end}}
</div>
