@import "../vars";
@import "../custom-button";

.index-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;

  .index-page-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 350px;
    color: #fff;
    @media (max-width: 1000px)  {
      width: 40%;
    }
    @media (max-width: 800px)  {
      width: 50%;
    }
    @media (max-width: 500px)  {
      width: 60%;
    }
    @media (max-width: 950px) and (max-height: 1400px) {
      padding-bottom: 450px;
    }

    .index-page-title {
      letter-spacing: -0.07em;
      text-shadow: 0 3px 0 #F37053, 0 6px 11px rgba(0, 0, 0, 0.45);
      margin-bottom: 30px;
      line-height: 88px;
      font: {
        family: $fontMain;
        size: 94px;
      };
      @media (max-width: 1350px)  {
        font-size: 80px;
        line-height: 74px;
      }
      @media (max-width: 1150px)  {
        font-size: 70px;
        line-height: 64px;
      }
      @media (max-width: 1000px)  {
        font-size: 60px;
        line-height: 54px;
      }
      @media (max-width: 600px)  {
        font-size: 50px;
        line-height: 44px;
      }
      @media (max-width: 400px)  {
        font-size: 40px;
        line-height: 34px;
      }
    }

    .btn {
      @extend .CustomButton;
      height: 40px;
      margin-right: auto;
      margin-left: auto;
      width: 40%;
      font-size: 22px;
    }
  }
}

.index-footer {
  height: 8vh;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-wheat {
  width: 25%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 33%;
  @media (max-width: 1350px)  {
    width: 33%;
    height: 30%;
  }
  @media (max-width: 1000px) {
    width: 55%;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
