@import "../vars";
@import "../custom-button";

.login-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;

  .login-block {
    width: 35%;
    height: 92vh;
    position: relative;
    top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.63);
    box-shadow: 0 27px 22px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(29px);

    @media (max-width: 1350px) {
        width: 45%;
    }
    @media (max-width: 1000px) {
      width: 55%;
    }
    @media (max-width: 800px) {
      width: 65%;
    }
    @media (max-width: 600px) {
      width: 80%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }

    .login-title {
      opacity: 1;
      width: 70%;
      color: #fff;
      font:{
        size: 42px;
        family: $fontMain;
      }
      margin-bottom: 30px;
    }

    .login-form {
      opacity: 1;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 20px;
      @media (max-height: 950px) {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .login-input {
        width: 100%;
        height: 40px;
        margin: 5px 0 40px 0;
        padding-left: 5px;
        font-size: 16px;
        opacity: 1;
        background: rgba(38, 38, 38, 0.6);
        color: #fff;
        border: 1px solid rgba(146, 146, 146, 0.26);
        box-sizing: border-box;
      }

      .input-subtitle {
        width: 60%;
        opacity: 1;
        color: #fff;
        font: {
          size: 12px;
          family: $fontMain;
        }
      }

      .form-error-msg {
        display: block;
        margin-bottom: 30px;
        color: $error;
      }

      .btn-login {
        opacity: 1;
        @extend .CustomButton;
        width: 50%;
        height: 30px;
        background-color: inherit;
        border: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
        cursor: pointer;
      }
    }


  }

  .footer-wheat {
    @media (max-width: 1350px) {
      left: 10%;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
}

.separator {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 15px;

  hr {
    height: 1px;
    border: 0;
    width: 23vh;
    margin: 6px 20px 6px 20px;
    background-color: rgba(255, 255, 255, 0.4);

    @media (max-width: 950px) {
      width: 15vh;
    }
    @media (max-width: 400px) {
      width: 12vh;
    }
  }
}

.icon-block {
  margin-top: 2em;
  opacity: 1;
  width: 40%;
  display: flex;
  justify-content: space-around;
  color: #FFC31D;
}