.page-sphere {
  height: calc(100vh - 8vh);
  width: 100vw;
  display: flex;
  flex-direction: column;

  .page-sphere-header {
    h1 {
      margin: 20px 0 5px;
      text-align: center;
    }

    p {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .sphere-details {
    width: fit-content;
    margin: 0 auto;

    svg {
      width: 100%;
    }
  }
}
