@import "../vars";

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;

  .page-content-wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 92vh;
    position: relative;
    top: 4vh;
    background: rgba(0, 0, 0, 0.63);
    box-shadow: 0 27px 22px rgba(0, 0, 0, 0.25);
    overflow-y: auto;

    .page-content {
      padding: 20px 15px 15px;

      .page-content-title {
        width: 100%;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        font: {
          size: 42px;
          family: $fontMain;
        }
      }
    }
    //
  }
}
