@import "../vars";
@import "../custom-button";
@import "login";

.signup-page {
  @extend .login-page;

  .signup-block {
    @extend .login-block;

    .signup-title {
      @extend .login-title
    }

    .signup-form {
      @extend .login-form;

      .signup-input {
        @extend .login-input;

        @media (max-height: 800px) {
          margin-bottom: 20px;
          height: 30px;
        }
        @media (max-height: 600px) {
          margin-bottom: 10px;
          height: 25px;
        }
      }

      .input-subtitle {
        @extend .input-subtitle;
      }

      .form-error-msg {
        display: block;
        margin-bottom: 30px;
        color: $error;
      }

      .btn-signup {
        @extend .btn-login
      }
    }
  }

  .footer-wheat {
    @media (max-width: 1350px) {
      left: 10%;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
}