@import "../vars";

.spheres-list {
  .spheres-list-item {
    color: white;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .spheres-list-item-sphere {
      img {
        width: 60px;
      }
    }

    .spheres-list-item-body {
      width: 100%;
      display: flex;

      span {
        font-size: 20px;
        margin: auto auto auto 20px;
      }
    }

    .spheres-list-item-actions {
      display: flex;

      a {
        margin: auto 0;
      }
    }
  }
}
