<div class="index-page page-bg-sphere">
    <div class="index-page-block">
        <div class="index-page-title">Gift Sphere</div>
        {{if .IsAuth}}
            <a class="btn btn-background router-controller" href="/{{.Lang}}<%= routers.spheres.path %>">{{index .I18N "INDEX_START_BUTTON"}}</a>
        {{else}}
            <a class="btn btn-background router-controller" href="/{{.Lang}}<%= routers.login.path %>">{{index .I18N "INDEX_START_BUTTON"}}</a>
        {{end}}
    </div>
</div>
