<div class="login-page page-bg-sphere">
    <div class="login-block">
        <div class="login-title">{{index .I18N "LOGIN_FORM_TITLE"}}</div>
        <form class="login-form" onsubmit="Login.login()" form-control>
            <label for="login-form-email" class="input-subtitle">{{index .I18N "LOGIN_FORM_LABEL_EMAIL"}}</label>
            <input class="login-input" type="text" placeholder="email@mail.com" name="Email" id="login-form-email">
            <label for="login-form-password" class="input-subtitle">{{index .I18N "LOGIN_FORM_LABEL_PASSWORD"}}</label>
            <input class="login-input" type="password" placeholder="******" name="Name" id="login-form-password">
            <span class="form-error-msg" id="err-msg" style="display: none"></span>
            <button class="btn-login btn-background">{{index .I18N "LOGIN_FORM_BUTTON"}}</button>
        </form>
        <div class="separator">
            <hr class="separator-line"> or <hr class="separator-line">
        </div>
        <div class="icon-block">
            <image src="/static/img/icons/facebook.svg" alt="facebook"></image>
            <image src="/static/img/icons/google.svg" alt="google" ></image>
            <image src="/static/img/icons/twitter.svg" alt="twitter"></image>
        </div>
    </div>
</div>
