<div class="long-container">

<div class="container mt-2 mt-md-5 pt-xl-5">
    <div class="row">
        <div class="col-xl-6 col-sm-12 pt-5">
            <h1 class="index-title index-title_1">
            </h1>
        </div>
        <div class="col-6 d-none d-xl-flex">
            <img class="" src="/static/img/reg-il.png?v=2" alt="">
        </div>
    </div>
</div>

<div class="container mt-2 mt-md-5 pt-xl-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="registration-form-container p-4">

                <p class="custom-text" style="color: black;">
{{index .I18N .MsgKey}}
                </p>

            </div>
        </div>
    </div>
</div>

</div>

{{template "common/footer.html" .}}
