<div class="signup-page page-bg-sphere">
    <div class="signup-block">
        <div class="signup-title">{{index .I18N "SIGN_UP_FORM_TITLE"}}</div>
        <form class="signup-form" onsubmit="Signup.signupRequest()" form-control>
            <label for="signup-form-name" class="input-subtitle">{{index .I18N "SIGN_UP_FORM_LABEL_NAME"}}</label>
            <input class="signup-input" type="text" placeholder="John" name="Name" id="signup-form-name">
            <label for="signup-form-email" class="input-subtitle">{{index .I18N "SIGN_UP_FORM_LABEL_EMAIL"}}</label>
            <input class="signup-input" type="text" placeholder="email@mail.com" name="Email" id="signup-form-email">
            <label for="signup-form-password" class="input-subtitle">{{index .I18N "SIGN_UP_FORM_LABEL_PASSWORD"}}</label>
            <input class="signup-input" type="password" placeholder="******" name="Password" id="signup-form-password">
            <label for="signup-form-password-confirm" class="input-subtitle">{{index .I18N "SIGN_UP_FORM_LABEL_CONFIRM_PASSWORD"}}</label>
            <input class="signup-input" type="password" placeholder="******" name="Password" id="signup-form-password-confirm">
            <span class="form-error-msg" id="err-msg" style="display: none"></span>
            <button type="submit" class="btn-signup btn-background">{{index .I18N "SIGN_UP_FORM_BUTTON"}}</button>
        </form>
        <div class="separator">
            <hr class="separator-line">{{index .I18N "SIGN_UP_SEPARATOR_OR"}}<hr class="separator-line">
        </div>
        <div class="icon-block">
            <image src="/static/img/icons/facebook.svg" alt="facebook"></image>
            <image src="/static/img/icons/google.svg" alt="google" ></image>
            <image src="/static/img/icons/twitter.svg" alt="twitter"></image>
        </div>
    </div>
</div>
