<div class="navbar-filler"></div>

<div class="page-sphere">
    <div class="page-sphere-header">
        <h1>{{.Sphere.TypeName}}</h1>
        <p>{{.Sphere.Cost}}</p>
    </div>

    <div class="sphere-details">
        <svg
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                width="220mm"
                height="220mm"
                viewBox="0 0 220 220"
                version="1.1"
                id="svg8"
                inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"
                sodipodi:docname="SphereColored.svg">
            <defs
                    id="defs2" />
            <sodipodi:namedview
                    id="base"
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1.0"
                    inkscape:pageopacity="0.0"
                    inkscape:pageshadow="2"
                    inkscape:zoom="0.5"
                    inkscape:cx="395.20567"
                    inkscape:cy="335.99354"
                    inkscape:document-units="mm"
                    inkscape:current-layer="layer1"
                    showgrid="false"
                    inkscape:snap-bbox="false"
                    inkscape:bbox-nodes="false"
                    inkscape:snap-intersection-paths="false"
                    inkscape:snap-nodes="true"
                    inkscape:object-nodes="true"
                    inkscape:snap-object-midpoints="false"
                    inkscape:snap-global="true"
                    inkscape:object-paths="false"
                    inkscape:snap-smooth-nodes="true"
                    inkscape:window-width="1082"
                    inkscape:window-height="998"
                    inkscape:window-x="72"
                    inkscape:window-y="65"
                    inkscape:window-maximized="0" />
            <metadata
                    id="metadata5">
                <rdf:RDF>
                    <cc:Work
                            rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title></dc:title>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                    inkscape:label="Layer 1"
                    inkscape:groupmode="layer"
                    id="layer1"
                    transform="translate(0,-77)">
                <path
                        style="fill:#aa00ff;fill-opacity:1;stroke:#000000;stroke-width:0.25182551;stroke-opacity:1"
                        d="m 66.424873,261.90544 c -8.93165,-15.45058 -8.93165,-34.48647 0,-49.93705 8.93165,-15.45058 25.43801,-24.96852 43.301307,-24.96852 27.61426,-10e-6 50.00004,-22.35759 50.00004,-49.93707 0,-27.57947 -22.51178,-49.68552 -50.12604,-49.68552 27.57951,0 52.54807,11.16471 70.62175,29.21562 18.07368,18.05091 29.2525,42.98802 29.2525,70.53278 0,27.54476 -11.17881,52.48187 -29.2525,70.53278 -18.07368,18.05091 -43.04224,29.21563 -70.62175,29.21563 -17.863297,0 -34.243657,-9.51807 -43.175307,-24.96865 z"
                        id="path4535-3"
                        inkscape:connector-curvature="0"
                        sodipodi:nodetypes="sscscssscs" />
                <path
                        style="fill:#00aaff;fill-opacity:1;stroke:#000000;stroke-width:0.25182551;stroke-opacity:1"
                        d="m 66.824723,261.90544 c -8.93165,-15.45058 -8.93165,-34.48647 0,-49.93705 8.93165,-15.45058 25.43801,-24.96852 43.301317,-24.96852 27.61426,-10e-6 50.00003,-22.35759 50.00003,-49.93706 0,-27.57947 -22.51177,-49.685523 -50.12596,-49.685451 -27.579447,8.2e-5 -52.548007,11.164801 -70.621697,29.215711 -18.07369,18.05091 -29.2525,42.98801 -29.2525,70.53277 0,27.54476 11.17881,52.48187 29.2525,70.53278 18.07368,18.05091 43.04225,29.21563 70.621697,29.21555 -17.863377,-8e-5 -34.243737,-9.51815 -43.175387,-24.96873 z"
                        id="path4535-3-6"
                        inkscape:connector-curvature="0"
                        sodipodi:nodetypes="sscscssscs" />
                <g
                        id="g4931-68"
                        transform="rotate(-90,28.85217,245.22112)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g4931-6-6"
                        transform="rotate(180,88.536619,256.68443)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g4931-9-5"
                        transform="rotate(90,148.22107,268.14777)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g5037-8"
                        transform="rotate(180,136.08644,213.39672)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g5037-7-7"
                        transform="rotate(-90,119.68972,249.48322)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g5080-2"
                        transform="rotate(180,121.00905,216.94867)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g5102-1"
                        transform="rotate(180,104.14575,233.55756)"
                        style="stroke:#000000;stroke-opacity:1" />
                <g
                        id="g5124-1"
                        transform="rotate(180,105.8758,215.74617)"
                        style="stroke:#000000;stroke-opacity:1" />
                <path
                        style="fill:#00aaff;fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 178.1994,256.7619 -4.28679,-6.38958 c 0,0 -11.40911,3.49713 -30.64172,1.72251 -19.2326,-1.77463 -23.40151,-5.09485 -23.40151,-5.09485 0,0 1.6917,-9.11942 6.85334,-13.67543 5.16164,-4.55601 13.27722,-6.45514 13.27722,-6.45514 L 149.86938,217 c 0,0 0.16502,-6.97914 6.22238,-13.52065 6.05735,-6.54151 13.90818,-6.60991 13.90818,-6.60991 l 7.48896,-3.14264 c 0,0 3.5287,-4.53176 12.41097,-4.63932 8.88227,-0.10755 12.4443,4.16354 12.4443,4.16354 l 5.90434,-6.79269 -4.87912,-6.77884 c 0,0 -6.22991,5.76267 -13.76722,5.66385 -7.5373,-0.0988 -12.31646,-5.09356 -12.31646,-5.09356 0,0 0.70148,-18.87563 3.06512,-34.77432 2.36363,-15.89868 4.75346,-20.33322 4.75346,-20.33322 l -4.89284,-7.70943 -6.83915,5.65451 c 0,0 3.49713,11.40912 1.72251,30.64173 -1.77463,19.2326 -9.81955,24.72442 -9.81955,24.72442 L 160.13051,187 c 0,0 -0.13413,5.98128 -6.30219,13.12889 -6.16806,7.14761 -13.82837,7.00167 -13.82837,7.00167 0,0 -7.51201,0.23883 -13.80706,-6.3235 -6.29501,-6.56233 -6.32351,-13.80707 -6.32351,-13.80707 l -8.8415,-0.15925 -1.02794,10.0287 c 0,0 5.8076,-0.17666 13.00525,6.85805 7.19765,7.0347 7.12532,13.2725 7.12532,13.2725 0,0 0.16221,7.59609 -6.0238,13.89773 -6.186,6.30165 -14.10677,6.23281 -14.10677,6.23281 l -6.7268,17.35843 c 0,0 4.53176,3.5287 4.63932,12.41097 0.10755,8.88227 -4.16354,12.4443 -4.16354,12.4443 l 5.46983,5.00993 8.1017,-3.98472 c 0,0 -5.76267,-6.2299 -5.66385,-13.76721 0.0988,-7.5373 5.09357,-12.31647 5.09357,-12.31647 0,0 18.87562,0.70145 34.77431,3.06509 15.89868,2.36363 20.33321,4.75346 20.33321,4.75346 z"
                        id="path1223"
                        inkscape:connector-curvature="0"
                        sodipodi:nodetypes="cczczcczcczccczczccczcczczccczczcczccczczcc" />
                <path
                        style="fill:#aa00ff;fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 89.869377,157 c 0,0 -0.07234,6.23781 7.12532,13.27251 7.197643,7.03471 13.005243,6.85805 13.005243,6.85805 l -0.50886,8.70792 L 100.1305,187 c 0,0 -0.0285,-7.24473 -6.323503,-13.80706 -6.29506,-6.56233 -13.80706,-6.3235 -13.80706,-6.3235 0,0 -7.66032,-0.14594 -13.82837,7.00167 C 60.003501,181.01872 59.86938,187 59.86938,187 l -3.486591,7.51658 c 0,0 -9.703079,6.52176 -11.477709,25.75436 -1.77462,19.23261 1.72251,30.64173 1.72251,30.64173 l -5.62433,4.74998 -6.10766,-6.8049 c 0,0 2.38983,-4.43454 4.75346,-20.33322 2.36364,-15.89869 3.065105,-34.77431 3.065105,-34.77431 0,0 -4.779163,-4.99477 -12.316473,-5.09357 -7.5373,-0.0988 -13.76721,5.66385 -13.76721,5.66385 l -4.362625,-6.35026 5.387845,-7.22127 c 0,0 3.56203,4.27109 12.444289,4.16354 8.882272,-0.10756 12.410971,-4.63932 12.410971,-4.63932 l 7.488979,-3.14263 c 0,0 7.850831,-0.0684 13.908186,-6.60991 C 69.965477,163.97914 70.130517,157 70.130517,157 l 9.86942,-9.86944 c 0,0 8.11559,-1.89913 13.27722,-6.45514 C 98.438797,136.11941 100.1305,127 100.1305,127 c 0,0 -4.168893,-3.32022 -23.401503,-5.09484 -19.232616,-1.77462 -30.830714,2.28946 -30.830714,2.28946 l -5.282211,-8.22885 5.825228,-6.05447 c 0,0 6.135421,4.37421 22.034107,6.73784 15.8987,2.36364 35.978693,2.08504 35.978693,2.08504 0,0 3.85181,-3.92032 3.76883,-11.68382 -0.083,-7.7635 -4.86392,-12.73049 -4.86392,-12.73049 l 6.80468,-4.24546 5.8643,4.80128 c 0,0 -4.25155,7.64885 -4.27235,12.06903 -0.0208,4.42018 4.20813,12.23349 4.20813,12.23349 l -5.96383,17.69123 c 0,0 -7.92077,-0.0688 -14.106773,6.23281 C 89.707167,149.40389 89.869377,157 89.869377,157"
                        id="path1249"
                        inkscape:connector-curvature="0"
                        sodipodi:nodetypes="czccczczcczccczczccczcczcczczccczczccczcczc" />

                {{range $index, $item := .Sphere.Items}}
                    <circle style="{{if $item.IsPayed}}{{$item.FilledStyle}}{{else}}fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.26112881;stroke-opacity:1{{end}}"
                            class="gf-tooltip"
                            data-tooltip="{{$item.UserName}}"
                            id="circle_item_{{$item.Index}}"
                            cx="{{$item.CX}}"
                            cy="{{$item.CY}}"
                            r="9.8694353" />
                {{end}}

            </g>
        </svg>
    </div>
</div>
