<div class="page page-bg-sphere">
    <div class="page-content-wrapper spheres-list">
        <div class="page-content">
            <div class="page-content-title">{{index .I18N "SPHERE_LIST_TITLE"}}</div>

            <div class="spheres-list-wrapper">
                {{range $index, $item := .Spheres}}
                    <div class="spheres-list-item">
                        <div class="spheres-list-item-sphere">
                            <img src="/static/img/sphere-colored.svg" alt="sphere">
                        </div>
                        <div class="spheres-list-item-body">
                            <span>{{$item.Name}}</span>
                        </div>
                        <div class="spheres-list-item-actions">
                            <a class="btn custom-button btn-background router-controller"
                               href="/{{$.Lang}}<%= routers.sphereDetails.path %>{{$item.Id}}">{{index $.I18N "ACTIONS_OPEN"}}</a>
                        </div>
                    </div>
                {{end}}
                {{if eq (len .Spheres) 0}}
                    <div class="spheres-list-item">
                        <div class="spheres-list-item-body">
                            <span>{{index .I18N "SPHERE_LIST_NO_ITEMS"}}</span>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
